
.logo h2{
    font-size: 24px;
    color: #3A3A3A;
    font-weight: bold;

}
header{
     padding-top: px;
     background: url("../images/Circle\ design.svg");
     background-position: bottom right;
     background-repeat: no-repeat;

}
nav{
    display: flex;
    margin:0 0px 0px 90px;
    padding: 36px;
   justify-content: space-between;
}
nav .menu{
    display: flex;
    margin-right: 120px;
    margin-top: 30px;
    text-align: center;
    text-decoration:none;
    list-style: none;
    gap: 25px;
    
}
nav .menu .img1{
   display: flex;
   width: 15px;
   height: 15px;
   gap: 25px;
}
#banner {
    /*border: 1px solid red;*/
    margin: 50px 10px 140px 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
#banner .banner-content{
    max-width: 582px;
}

#banner .banner-content h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 16px;
}
#banner .banner-content p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;

}
.btn{
    background-color: #E02C6D;
    border: none;
    padding: 10x 24px;
    border-radius: 41px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 194px;
    height: 44px;
}


/*#banner .banner-image img{
    max-width: 450px;
   

}*/
#hero-content .logos{
    display: flex;
    justify-content: space-evenly;
    /*border: 1px solid red;*/
    margin: 0px 120px;
    width: 1110px;
    height: 110px;
    align-items: center;
    color: #FFFFFF;
    
}
.skill-box{
    padding-top: 100px;
    width: 1024px;
    height: 1662px;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
}
#skills .skills-container{

}




